.container{
    margin: 100px auto;
}

table{
    width: 80vw;
    margin: auto;
    border-collapse: collapse;
}

th{
    background-color: black;
    color: white;
    text-align: left;
}

.highlight{
    background-color: rgb(216, 216, 216);
    border-color:rgb(216, 216, 216); 
}

th, td{
    padding: 10px;
}